#cardListSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blackGradientCard {
  width: 350px;
  height: 210px;
  background: linear-gradient(to bottom right, #000917, #918f99);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
}

.plainCard {
  width: 350px;
  height: 210px;
  background: linear-gradient(to bottom right, white, #d7d7d7);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: Arial, sans-serif;
}

.card {
  display: inline;
}

.cardHeader {
  padding: 20px 20px 0px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;

  span {
    font-size: 18px;
    font-weight: bold;
  }
}

.cardBody {
  padding: 0px 20px 10px 20px;
  margin-top: 20px;
  display: flex;
  width: 100%;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid lightgray; 

  span {
    font-size: 16px;
    font-weight: bold;
  }
}

.gradientCardFooter {
  padding: 20px 20px 20px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
  font-size: 18px;
  background: linear-gradient(to bottom right, #000000, #979797);
  border-radius: 0px 0px 14px 14px;
}

.plainCardFooter {
  padding: 20px 20px 20px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
  font-size: 18px;
}
