.blackGradientCard {
  background: linear-gradient(to bottom right, #000917, #918f99);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  color: white;
}

.plainCard {
  background: linear-gradient(to bottom right, white, #d7d7d7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  color: black;
}

.cardWrapper {
  @apply flex-shrink-0 xl:mr-[10px];
}

.card {
  @apply block w-[265px] xl:w-[350px] xl:h-[235px];
  border-radius: 15px;
}

.cardHeader {
  @apply px-[20px] pt-[20px] pb-0 flex w-full justify-between text-left text-[11px] xl:text-[12px];

  span {
    @apply text-[16px] xl:text-[20px] font-bold;
  }
}

.cardBody {
  @apply px-[20px] pt-0 pb-[10px] mt-[20px] xl:mt-[44px] flex w-full text-left text-[10px] xl:text-[12px] font-normal  border-b border-gray-300;

  span {
    @apply text-[13px] xl:text-[15px] font-semibold;
  }
}

.gradientCardFooter {
  @apply h-[51px] xl:h-[70px] p-4 flex w-full justify-between text-left font-semibold text-[15px] xl:text-[22px] rounded-b-[14px];
  background: linear-gradient(to bottom right, #000000, #979797);
}

.plainCardFooter {
  @apply h-[51px] xl:h-[70px] p-4 flex w-full justify-between text-left font-semibold text-[15px] xl:text-[22px] rounded-b-[14px];
}
